<div class="wrapper">
    <button type="button" class="btn btn-secondary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Search User
    </button>
</div>

<hr>
<div id="collapseBasic" [collapse]="!isCollapsed">
    <div class="well well-lg card card-block card-header">
        <div class="container">
            <form [formGroup]="searchForm" (ngSubmit)="findUsers()">
                <h1>Search User</h1>
                <input type="email" placeholder="email" formControlName="email">
                <select formControlName="type">
                    <option id="worker">worker</option>
                    <option id="menager">menager</option>
                    <option id="boss">boss</option>
                </select>
                <input type="date" formControlName="dateFrom">
                <input type="date" formControlName="dateTo">
                <button type="submit">Search User</button>
                <input type="text" formControlName="filter">
            </form>
        </div>
    </div>
</div>