<div class="container">
    <form [formGroup]="userForms" (ngSubmit)="submitForm(userForms)">
        <h1>Add User</h1>
        <input type="text" placeholder="firstname" formControlName="firstname">
        <input type="text" placeholder="lastname" formControlName="lastname">
        <input type="email" placeholder="email" #email formControlName="email">
        <span *ngIf="emailControl?.invalid">Wrong email</span>
        <input type="date" formControlName="date">
        <select formControlName="type">
            <option id="worker">worker</option>
            <option id="menager">menager</option>
            <option id="boss">boss</option>
        </select>
        <button [disabled]=!userForms.valid>Submit</button>
    </form>
</div>
